@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none !important;
}
a:hover {
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  box-shadow: none;
  background-color: #651fff;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
  border-radius: 0px;
  background-color: #cacaca;
}
